@model Assignment2_TripLogApp.Models.TripLog

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TripLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accommodation" class="control-label"></label>
                <input asp-for="Accommodation" class="form-control" />
                <span asp-validation-for="Accommodation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccommodationPhoneNumber" class="control-label"></label>
                <input asp-for="AccommodationPhoneNumber" class="form-control" />
                <span asp-validation-for="AccommodationPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccommodationEmailAddress" class="control-label"></label>
                <input asp-for="AccommodationEmailAddress" class="form-control" />
                <span asp-validation-for="AccommodationEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDo1" class="control-label"></label>
                <input asp-for="ToDo1" class="form-control" />
                <span asp-validation-for="ToDo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDo2" class="control-label"></label>
                <input asp-for="ToDo2" class="form-control" />
                <span asp-validation-for="ToDo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDo3" class="control-label"></label>
                <input asp-for="ToDo3" class="form-control" />
                <span asp-validation-for="ToDo3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

