@model Assignment2_TripLogApp.Models.TripLog

@{
    ViewData["Title"] = "Add Trip - Page 3";
}
<h1>Add Things To Do in @Model.Destination</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThingsTodo" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ToDo1" class="form-control" />
                <span asp-validation-for="ToDo1" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input asp-for="ToDo2" class="form-control" />
                <span asp-validation-for="ToDo2" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input asp-for="ToDo3" class="form-control" />
                <span asp-validation-for="ToDo3" class="text-danger"></span>
            </div>
            <br/>
            <div>
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
                <a asp-action="Index">
                    <button type="button" class="btn btn-default">
                        Cancel
                    </button>
                </a>
            </div>
        </form>
    </div>
</div>